*{
    padding: 0;
    margin: 0px;
  
}


body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    display: flex;
    padding: 15px;
    justify-content: space-between;

}
.navbar__s1{
    display: flex;
    border-top: 5px;
    padding: 2px;
    align-items: center;
}
.navbar__s1 img{
    width: 50px;
}

.navbar__s2{
    display:flex;
    gap:30px;
    padding: 16px;
align-items: center;

}
.navbar__s2 button:hover{
    background-color: rgb(159, 168, 168);
    border: solid rgb(159, 168, 168) 1px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;

}
.navbar__s2 button{
    border: 0px;
    background-color: white;
    font-weight: bold;
}
.navbar__s3{
    display: flex;
    gap: 15px;
    padding: 14px;
    align-items: center;
}
.navbar__s3 p{
border-left: solid 1px; 
}
.navbar__s3 .one{
    background-color: black;
    color: white;
    border: solid black 2px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    
    
    
}

.head{
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.head__names{
   display: flex;
   gap: 40px;
   justify-content: center;
   margin-top: 20px;
   cursor: pointer;
}
.head__names h3:hover{
    color: green;
}

.searchbar{
    display: flex;
    border: solid black 1px;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    margin-top: 40px;
    margin-left: 300px;
    gap: 10px;
   
}
.searchbar input{
    border: none;
    width: 100%;
}
.searchbar input:focus{
    outline: none;
}
.searchbar p{
    background-color: aqua;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.section-image{
    position: relative;
    
}


.section-image img{
   width: 99%;
   margin: 5px;
   height: 500px;
   

}
.section-image__offer{
    position: absolute;
    top: 60%;
    color: white;
    padding: 10px;
    left:40px;
   background-color: rgba(111,75,65,0.5);
}
.card-section{
    padding: 10px;
    margin-top: 30px;
    
}
.card-section p{
    color: rgb(132, 128, 128);
}
.cards__images{
    width: 98%;
}
.cards__images img{
   
   width: 100%;
   border-radius: 10px;
   
}

.cards__container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 20%;
    
    
    
}
.cards__container__1{
    margin: 10px;
}


.cards__container__1 h2{
    padding-left: 20px;
   
}

.tour__places{
    padding: 10px;
    margin-top: 20px;
}
.tour__places p{
    color: rgb(132, 128, 128);
}

.recommended__places{
    display: flex;
    justify-content: space-between;
    
    
}
.course__card{
    margin: 10px;
    width: 90%;   
}

.course__card img{
    width: 100%;
     /* margin: 5px; */
    border-radius: 10px;
}
.next__trip{
    padding:10px;
    margin-top: 30px;
}
.next__trip p{
    color: rgb(132, 128, 128);
}
.dream__card{
     margin: 10px;

}
.dream__card img{
    width: 293px;
height: 280px;
    border-radius: 10px;

}
.dream__trip{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


.footer{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(214, 208, 208);
    color: black;
}
.footer p{
    line-height: 25px;
}
.footer p:hover{
    text-decoration: underline;
    color: rgb(82, 82, 79);
    cursor: pointer;
}
.footer h4{
    line-height: 28px;

}
.footer__4{
    margin-left: 300px;
}
.footer__down{
    padding: 20px;
    background-color:  rgb(214, 208, 208);
}
.footer__down__1{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    color: rgb(106, 106, 110);
   cursor: pointer;
}
/* responsive */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    .cards__images img{
        flex-basis: 40%;
    }
    
}




 




    
   
    











